<div class="col-md-4 offset-md-4 mt-5 card card-body mt-5">
    <h4 class="center border-bottom">Add Books</h4>
    <div class="alert alert-danger" *ngIf='error'></div>
    <form #updateBooksForm='ngForm' (ngSubmit)="updateBooks(updateBooksForm)">

        <div class="form-group">
            <input type="text" name="bookId" #bookId='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the Id..">
                <div *ngIf="bookId.touched && bookId.invalid">
                    <p class="text-danger" *ngIf="bookId.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="title" #title='ngModel' ngModel class="form-control mb-3" required
              readonly  placeholder="Enter the name..">
              <div *ngIf="title.touched && title.invalid">
                <p class="text-danger" *ngIf="book_name.errors.required">
                    *this field is required
                </p>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="author" #author='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the author name...">
                <div *ngIf="author.touched && author.invalid">
                    <p class="text-danger" *ngIf="author.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="category" #category='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the category..">
                <div *ngIf="category.touched && category.invalid">
                    <p class="text-danger" *ngIf="category.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

        <div class="form-group">
            <input type="text" name="copiesAvailable" #copiesAvailable='ngModel' ngModel class="form-control mb-3" required
                placeholder="Enter the copiesAvailable.">
                <div *ngIf="copiesAvailable.touched && copiesAvailable.invalid">
                    <p class="text-danger" *ngIf="copiesAvailable.errors.required">
                        *this field is required
                    </p>
                </div>
        </div>

       
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary float-left">Submit</button>
        </div>
    </form>
</div>
