<div class="col-md-4 offset-md-4 mt-5 card card-body mt-5">
    <div class="form-group container">
        <h4 class="center border-bottom" class="text-success">SignIn</h4>
        <div class="alert alert-danger" *ngIf='error'></div>
        <form #loginForm='ngForm' (ngSubmit)="login(loginForm)" *ngIf="!isloading">
            <div class="form-group">
                <label for="UserName" class="text-info">User name<h6 class="text-danger float-right">*</h6></label>
                <input type="text" name="username" #username='ngModel' ngModel class="form-control mb-3" required
                    placeholder="Enter user name..">
                <div *ngIf="username.touched && usernme.invalid">
                    <p class="text-danger" *ngIf="username.errors.required">
                        *This field is required.Please Insert!!..
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="text-info">Password<h6 class="text-danger float-right">*</h6></label>
                <input type="password"name="password" #password='ngModel' ngModel class="form-control mb-3" required
                    placeholder="Enter the password...">
                    <div *ngIf="password.touched && password.invalid">
                        <p class="text-danger" *ngIf="password.errors.required">
                            *This field is required.Please Insert!!..
                        </p>
                    </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary float-right">Submit</button>
            </div>
        </form>
    </div>
</div>